.header {
    grid-area: h;
    background-color: #25a717;
    position: relative;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}


.header img {
    width: 112px;
    position: absolute;
    margin-top: -12px;
    left: 80px;
}
