.wrapper {
    max-width: 1680px;
    margin: 0 auto;
    display: grid;
    grid-template-rows:60px 1fr;
    grid-template-columns:2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
        "h h h"
        "n c c";
}

.header {
    grid-area: h;
    background-color: blue;
    position: relative;
}

.header img {
    width: 112px;
    position: absolute;
    margin-top: -12px;
    left: 80px;
}

.nav {
    grid-area: n;
    background-color: magenta;
    min-width: 150px;
}

.content {
    grid-area: c;
    background-color: burlywood;
}

.content img {
    width: 1394px;
}